/* Register */
.register__tickitz {
  display: flex;
}
.register__image-container {
  position: relative;
  width: 70%;
}
.tickitz__form {
  width: 100%;
}
.register__overlay-image {
  width: 30%;
}
.register__overlay-parent {
  padding: 35px 99px;
}
.register__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.register__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 21, 107, 0.8);
}
.register__title {
  margin-top: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 48px;
}
.register__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  width: 80%;
}
.register__break {
  display: flex;
}
.register__break hr {
  height: 3px;
  border: 0.5px solid #dedede;
  width: 100%;
}
.register__break p {
  font-size: 12px;
  font-weight: bold;
  color: #aaaaaa;
  margin: 8px 20px;
}
.banner__ticktiz-authentication {
  display: flex;
  justify-content: center;
}
.register__button {
  border: none;
  padding: 12px 36px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #a0a3bd;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: 20px 36px;
}
.input__form-register {
  background-color: #fcfdfe;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #dedede;
  padding: 16px 16px;
  margin-top: 8px;
}
.input__form-register-checkbox {
  width: 16px;
  height: 16px;
  margin: 0px 10px 0px 0px;
  border-radius: 4px;
  accent-color: #5f2eea;
}

.button__signin {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 16px 16px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 16px;
  background-color: #5f2eea;
  border: none;
  color: #fff;
}
.button__signin:hover {
  color: #fff;
}
.form__child__title {
  font-weight: 600;
  font-size: 26px;
  margin-top: 40px;
  color: #121212;
}

.form__parent {
  padding: 25px 60px;
}

.form__child__desc {
  color: #aaaaaa;
  font-size: 18px;
}

.forgot-password__title {
  color: #5f2eea;
  font-weight: bold;
  text-decoration: underline;
}
.form__auth-checkbox {
  margin: 30px 20px;
}
label {
  display: block;
}
.form__auth-checkbox label {
  color: #696f79;
  font-weight: normal;
  font-size: 18px;
}
.form__auth {
  margin: 15px 20px;
}
.register__link-to {
  color: #5f2eea;
  text-decoration: underline;
  font-weight: 600;
}
.register__stepper {
  margin: 60px 0px;
  counter-reset: my-counter;
}
.register__stepper-list {
  display: flex;
  align-items: center;
}
.register__stepper-list:nth-child(1):before {
  counter-increment: my-counter;
  content: counter(my-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: rgba(41, 3, 65, 0.5);
  font-size: 24px;
  margin-right: 0px;
  font-weight: 600;
}
.register__stepper-list::before {
  counter-increment: my-counter;
  content: counter(my-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 24px;
  margin-right: 0px;
  font-weight: 600;
}
.register__stepper-line {
  border-left: 3px solid #ffffff;
  height: 45px;
  position: relative;
  left: 19px;
}
.register__list-active::before {
  background-color: #ffffff;
}
.register__stepper-title-active {
  color: #ffffff;
  margin: 0px 20px;
  font-weight: 600;
  font-size: 24px;
}
.register__stepper-title {
  color: rgba(255, 255, 255, 0.6);
  margin: 0px 20px;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  /* register */
  .register__image-container {
    display: none;
  }
  .form__parent {
    padding: 42px 15px 0px 15px;
  }
  .form__child__title-mobile {
    color: #121212;
    font-weight: bold;
    font-size: 26px;
  }
  .form__child__title {
    display: none;
  }
  .form__child__desc {
    display: none;
  }
  .form__auth {
    margin: 30px 0px;
  }
  .input__form-register {
    padding: 12px 30px;
    border-radius: 12px;
  }
  .register__button {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
  }
  .register__authentication-title {
    display: none;
  }
  .register__authentication-icon {
    display: inline-block;
  }
  .register__link-question {
    color: #6e7191;
    font-weight: 600;
    font-size: 15px;
  }
  /* End register */
}
/* End register */
