.dashboard__main {
  display: flex;
  justify-content: space-between;
  padding: 92px;
  background-color: #f5f6f8;
}
.dashboard__chart {
  width: 80%;
}
.dashboard__filter {
  width: 20%;
}
.dashboard__filter-container {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px;
}
.dashboard__filter-movie {
  width: 100%;
  padding: 10px 14px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #4e4b66;
  font-size: 16px;
  font-weight: 600;
}
.dashboard__filter-premiere {
  width: 100%;
  padding: 10px 14px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #4e4b66;
  font-size: 16px;
  font-weight: 600;
}
.dashboard__filter-location {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #4e4b66;
  font-size: 16px;
  font-weight: 600;
}
.dashboard__filter-button-filter {
  width: 100%;
  border: none;
  padding: 12px 0px;
  margin-bottom: 10px;
  background-color: #5f2eea;
  color: #f7f7fc;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
}
.dashboard__filter-button-reset {
  width: 100%;
  border: 2px solid #5f2eea;
  padding: 12px 0px;
  background-color: #fcfdfe;
  font-weight: bold;
  font-size: 16px;
  color: #5f2eea;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
}
.dashboard__chart-card {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 4px;
}

@media (max-width: 575.98px) {
  .dashboard__main {
    padding: 24px 12px;
    display: flex;
    flex-direction: column-reverse;
  }
  .dashboard__chart {
    width: 100%;
    margin-top: 48px;
  }
  .dashboard__filter {
    width: 100%;
  }
  .dashboard_filter,
  h3 {
    text-align: center;
  }
}
